.layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  width: 100%;
  height: 100vh;
}
.product-info h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 27px;
}
.product-info h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}
.img-box {
  display: flex;
  gap: 24px;
}
.side-imgs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 480px;
  overflow-y: scroll;
}
.side-imgs::-webkit-scrollbar {
  display: none;
}
.side-imgs img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  cursor: pointer;
}

.main-img img {
  max-width: 550px;
  max-height: 480px;
  object-fit: contain;
}
.attributes {
  display: flex;
  gap: 6px;
}
.selected-color {
  border: 2px solid #5ece7b;
}
.selected-size {
  background-color: #1d1f22;
  color: #fff;
}
.size-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
.size-box button {
  border: 1px solid #1d1f22;
  /* padding: 6px 12px; */
  margin-top: 6px;
  width: 63px;
  height: 45px;
}
.size-box button:hover {
  background-color: #1d1f22;
  color: #fff;
}
.color-box {
  display: flex;
  align-items: center;
  margin: 12px 0;
  gap: 6px;
}
.color-box button {
  width: 63px;
  height: 45px;
  padding: 4px 9px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.color-box button:hover {
  border: 2px solid #5ece7b;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}
.addToCart-btn {
  padding: 16px 32px;
  width: 200px;
  height: 43px;
  color: #fff;
  text-transform: uppercase;
  margin: 12px 0;
  background: #5ece7b;
}
.price {
  margin: 24px 0;
}
.price p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}
.price span {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}
.description {
  font-weight: 400;
  margin: 24px 0;
  max-height: 350px;
  /* overflow-y: scroll; */
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.description ul {
  padding-inline-start: 0;
}
