.products {
  padding: 12px;
  max-width: fit-content;
  max-width: -moz-fit-content;
}
.products:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.img-box {
  position: relative;
}
.img-box img {
  width: 300px;
  height: 280px;
}
.cartIcon {
  position: absolute;
  padding: 6px 8px;
  background-color: #5ece7b;
  border-radius: 50%;
  color: #fff;
  bottom: -3%;
  right: 5%;
  opacity: 0;
  animation: all 0.3s ease-out;
}
.products:hover .cartIcon {
  opacity: 1;
}
.price {
  font-size: 18px;
  font-weight: 500;
}
.product-name {
  margin: 10px 0 8px 0;
  font-size: 18px;
  font-weight: 300;
}
