.products {
  padding: 12px;
  max-width: fit-content;
  max-width: -moz-fit-content;
  position: relative;
}
.out-of-stock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #8d8f9a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px;
  z-index: 999;
  text-transform: uppercase;
}
.products:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.img-box {
  position: relative;
}
.img-box img {
  width: 300px;
  height: 280px;
}
.cartIcon {
  position: absolute;
  padding: 6px 8px;
  background-color: #5ece7b;
  border-radius: 50%;
  color: #fff;
  bottom: -3%;
  right: 5%;
  opacity: 0;
  animation: all 0.3s ease-out;
}
.products:hover .cartIcon {
  opacity: 1;
}
.price {
  font-size: 18px;
  font-weight: 500;
}
.product-name {
  margin: 10px 0 8px 0;
  font-size: 18px;
  font-weight: 300;
}
.attributes {
  display: flex;
  /* flex-direction: column; */
  gap: 6px;
}
.size-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
.size-box button {
  /* height: 45px;
  width: 63px; */
  border: 1px solid #1d1f22;
  padding: 6px 12px;
  margin-top: 6px;
}
.size-box button:hover {
  background-color: #1d1f22;
  color: #fff;
}
.color-box {
  display: flex;
  align-items: center;
  margin-top: 6px;
  gap: 6px;
}
.color-box button {
  height: 36px;
  width: 36px;
  padding: 4px 9px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.color-box button:hover {
  border: 2px solid #5ece7b;
}
.color-box p {
  margin: 8px 0;
}
.addToCart-btn {
  padding: 16px 32px;
  width: 200px;
  height: 43px;
  color: #fff;
  text-transform: uppercase;
  margin: 12px 0;
  background: #5ece7b;
}
button:disabled {
  background: #c4dfcb;
}
