.layout {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
  height: 100vh;
}
.img-box {
  display: flex;
  gap: 24px;
}
.side-imgs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.side-imgs img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
.main-img img {
  width: 550px;
  height: 550px;
}
.attributes {
  display: flex;
  gap: 6px;
}
.size-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
.size-box button {
  border: 1px solid #1d1f22;
  padding: 6px 12px;
  margin-top: 6px;
}
.size-box button:hover {
  background-color: #1d1f22;
  color: #fff;
}
.color-box {
  display: flex;
  align-items: center;
  margin: 12px 0;
  gap: 6px;
}
.color-box button {
  height: 36px;
  width: 36px;
  padding: 4px 9px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.color-box button:hover {
  border: 2px solid #5ece7b;
}

.bold {
  font-weight: bold;
}
.addToCart-btn {
  padding: 16px 32px;
  width: 200px;
  height: 43px;
  color: #fff;
  text-transform: uppercase;
  margin: 12px 0;
  background: #5ece7b;
}
.price {
  margin: 24px 0;
}
.price p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
.price span {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
.description {
  margin: 24px 0;
  max-height: 350px;
  /* overflow-y: scroll; */
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.description ul {
  padding-inline-start: 0;
}
